/* 1. Product page */
#categoryTrending .productPage__card {
    width: 100%;
    height: 310px;
    max-height: 620px;
    font-weight: 900;
    font-size: 3rem;
    color: #fff;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s;
}

/* #categoryTrending .productPage__card::after {
    content: '';
    width: 100%;
    height: 1px;
    border: 1px solid #fff;
    margin: 0 30px;
} */

#categoryTrending .productPage__card:hover {
    transform: scale(1.2);
    text-decoration: underline;
}

#productShowcase .productPage__card {
    user-select: none;
}

#productShowcase__unique {
    user-select: none;
}

#productShowcase__unique button {
    background-color: var(--clr-logo);
    border: 1px solid var(--clr-logo);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

#productShowcase__unique button:hover {
    transform: scale(1.2);
}

/* post product */
.post-product__breadcrumb {
    font-style: italic;
    text-indent: 10px;
    display: inline-block;
    color: var(--clr-green-dark);
    user-select: none;
    cursor: pointer;
    font-weight: 600;
}

.post-product__breadcrumb--icon {
    vertical-align: bottom;
    font-size: 2rem;
    padding-left: 1.2rem;
    color: var(--clr-logo);
}

/* 2. multiple uploads */
.multi-upload__thumb--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.2rem 0;
    gap: 1rem;
}

.multi-upload__thumb--wrapper[data-flex-direction*="vertical"] {
    flex-direction: column;
}

.multi-upload__thumb--card {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.multi-upload__thumb--card:hover .multi-upload__thumb--editBtn,
.multi-upload__thumb--card:hover .multi-upload__thumb--delBtn {
    width: 120px;
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.02);
    -webkit-backdrop-filter: blur(0.02);
    padding: 1.2rem 2.4rem;
    text-align: center;
    transform-origin: right;
    transition: width 0.4s linear, transform 0.4s linear;
    margin: 0 auto;
    font-style: italic;
    font-weight: 400;
    color: var(--clr-logo);
}

.multi-upload__thumb--editBtn {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    height: 50%;
    transform: scale(0);
    transform-origin: left;
    transition: width 0.4s 0.2s linear, transform 0.4s linear;
}

.multi-upload__thumb--delBtn {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    height: 50%;
    transform: scale(0);
    transform-origin: left;
    transition: width 0.4s 0.2s linear, transform 0.4s linear;
}

.multi-upload__thumb--editBtn:hover,
.multi-upload__thumb--delBtn:hover {
    color: var(--clr-white) !important;
    font-weight: 800 !important;
    box-shadow: 0 0 10px 2px var(--clr-logo), 20px 20px 50px 10px var(--clr-logo) inset;
}

.multi-upload__input {
    cursor: pointer;
    font-size: 2rem;
    flex-basis: 120px;
    padding: 0 1.2rem 1.2rem;
    width: 120px;
    height: 120px;
    line-height: 1;
    vertical-align: middle;
    display: grid;
    place-items: center;
}

.multi-upload__hiddenInput {
    display: block;
}

/* Classify Product Preview */
.classify-product-preview__table {}

.classify-product-preview__header>tr,
.classify-product-preview__header th {
    border: 1px solid black;
    padding: 1.2rem 2.4rem;
    border-collapse: collapse;
    text-transform: capitalize;
}

.classify-product-preview__body {}

.classify-product-preview__cell,
.classify-product-preview__cell--input {
    padding: 0 0.2rem;
    text-transform: uppercase;
    text-align: center;
    white-space: break-spaces;
    word-break: break-all;
}

.classify-product-preview__cell {
    /* padding: 1rem 2rem; */
}

.classify-product-preview__cell--input {
    min-width: 240px;
    padding: 0 1.2rem;
}

/* Single-product */
.single-product__name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.single-product__description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Single product */