.invoice-card__root {
    /* width: 320px; */
    height: 100%;
}

.invoice-card__container {
    background: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.invoice-card__line {
    padding: 0.2rem 0;
}

.invoice-card__order--trigger {
    cursor: pointer;
    float: right;
}

#order-show {}

.order-show__list {
    align-items: stretch;
}

.order-show__tab--title {
    font-size: 1.2rem;
    text-transform: uppercase;
    white-space: 12px;
}

.order-show__tab--text {
    border: 1px solid var(--clr-logo);
    color: var(--clr-logo);
    display: block;
}

.order-show__tab--text[data-active="true"] {
    background-color: var(--clr-logo);
    color: #fff;
}

.order-show__tab--text:hover {
    border-color: var(--clr-logo-hover);
    color: var(--clr-logo-hover);
}

.order-card__root {
    width: 100%;
    min-width: 320px;
    max-width: 470px;
    height: 100%;
}

.order-card__container {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.order-card__body {}

.order-card__line {
    box-sizing: content-box;
    padding: 12px 0;
    cursor: help;
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-card__line:hover {
    box-shadow:
        0 1px rgba(0, 0, 0, 0.1),
        0 1px rgba(0, 0, 0, 0.1) inset;
}

.order-tracker__flex {
    flex-wrap: nowrap;
    align-items: stretch;
    height: max-content;
    justify-content: center;
}

.order-tracker__icon {
    width: 80px;
    display: inline-block;
    margin-bottom: 20px;
}

.order-tracker__status {
    min-height: 2rem;
}

.order-tracker__label {
    text-align: center;
    font-weight: 800;
    line-height: 32px;
    white-space: break-spaces;
    display: inline-block;
    min-height: 2rem;
    height: 2rem;
}

.order-tracker__tracker {
    color: var(--clr-logo);
    display: grid;
    place-items: center;
    position: relative;
}

.order-tracker__tracker::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--clr-logo-hover);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.order-tracker__tracker[data-in-trunk="true"]::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: var(--clr-logo-hover);
    position: absolute;
    left: 53%;
}

.order-tracker__tracker[data-completed="true"]::before,
.order-tracker__tracker[data-completed="true"]::after {
    background-color: green;
}

.order-tracker__label[data-active="true"] {
    color: var(--clr-logo-hover);
}


@media (max-width: 576px) {
    .order-tracker__flex {
        flex-direction: column;
    }

    .order-tracker__tracker {
        display: flex;
        flex-direction: row-reverse;
    }

    .order-tracker__tracker::before {
        display: none;
    }

    .order-tracker__tracker[data-in-trunk="true"]::after {
        display: none;
    }
}