.invoice-card__root {
    width: 320px;
    height: 100%;
}

.invoice-card__container {
    background: #fff;
    box-shadow: 5px 5px 10px black;
}

.invoice-card__order--trigger {
    cursor: pointer;
    float: right;
}

.order-show__list {
    align-items: stretch;
}

.order-card__root {
    width: 100%;
    min-width: 320px;
    max-width: 470px;
    height: 100%;
}

.order-card__container {
    background: #fff;
}

.order-card__body {}