.sidebar__root {
    background-color: var(--clr-primary-10);
    overflow-y: scroll;
    position: fixed;
    top: 4rem;
    scroll-behavior: 'smooth';
    scrollbar-color: var(--clr-primary-1);
    scrollbar-width: 12px;
    border-right: 1px solid var(--clr-grey-9);
    height: calc(100% - 3rem);
    z-index: 1000;
    width: 260px;
    transform: scaleX(1);
    transform-origin: center left;
    visibility: visible;
    transition: transform 0.4s linear;
}

.main {
    margin-left: 0;
}

@media(min-width: 911px) {
    .sidebar__root {
        transition: all 0.4s linear;
    }

    .sidebar__root+.main {
        margin-left: 260px;
        transition: margin-left 0.3s linear;
    }
}

.sidebar__root--hidden {
    /* width: 0; */
    transform: scaleX(0);
    visibility: hidden;
    transform-origin: bottom left;
    border-width: 0;
    transition: all 0.4s linear;
}

.sidebar__root--hidden+.main {
    margin-left: 0;
}

.sidebar__group {
    list-style-type: none;
    padding-inline-start: 0;
    color: #212B36;
    margin: 0;
    /* transform: scaleY(0); */
    transform-origin: center top 0;
    visibility: hidden;
    transition: visibility 0s linear 0.33s,
        opacity 0.33s linear,
        transform 0.4s ease;
}

.sidebar__group--show {
    display: block;
    /* transform: scaleY(1); */
    visibility: visible;
    opacity: 1;
}

.sidebar__data--title {
    list-style-type: none;
    padding: 12px 30px;
    background: var(--clr-primary-10);
    transition: all 0.2s linear;
    position: relative;
    cursor: pointer;
}

[data-isopen~="true"] {
    max-height: 100vh;
}

[data-isopen~="false"] {
    max-height: 0;
    overflow: hidden;
    transform: scaleY(0);
    padding: 0;
    margin: 0;
    transition: all 0.4s;
}

.sidebar__data--title:hover, .sidebar__title--active {
    background-color: var(--clr-primary-2);
    color: #fff;
    font-weight: 600;
}

.sidebar__link--active {
    color: var(--clr-logo);
}

.sidebar__icon {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform-origin: center calc(50%) 0;
    transition: transform 0.2s ease;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 15px;
}

.sidebar__icon--open {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.sidebar__title--icon {}